<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--==============================-->
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

    <!--==============================-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--==============================--> 
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">

    <!--==============================--> 
    <link rel="stylesheet" href="/css/styles.css">

    <title>landslide</title>
</head>
<body>
    <!--========================================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">
                <img src="" alt="" class="nav__logo-img">
                landslide
            </a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active-link">Home</a>
                    </li>

                    <li class="nav__item">
                        <a href="#about" class="nav__link">have to decide</a>
                    </li>

                    <li class="nav__item">
                        <a href="#trick" class="nav__link">have to decide</a>
                    </li>

                    <li class="nav__item">
                        <a href="#new" class="nav__link">have to decide</a>
                    </li>

                    <a href="#" class="button button--ghost">have to decide</a>
                </ul>

                <div class="nav__close" id="nav-close">
                    <i class='bx bx-x'></i>
                </div>

                <img src="/img/nav-img.png" alt="" class="nav__img">
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-grid-alt'></i>
            </div>
        </nav>
    </header>

    <main class="main">
        <!--==================== HOME ====================-->
        <section class="home container" id="home">
            <div class="swiper home-swiper">
                <div class="swiper-wrapper">
                    <!---->
                    <section class="swiper-slide">
                        <div class="home__content grid">
                            <div class="home__group">
                                <img src="https://cdn.dribbble.com/users/207059/screenshots/3084228/landslidedribbble.gif" alt="" class="home__img">
                                <div class="home__indicator"></div>

                                <div class="home__details-img">
                                    <h4 class="home__details-title">Visual Representation of</h4>
                                    <span class="home__details-subtitle">Landslide</span>
                                </div>
                            </div>

                            <div class="home__data">
                                <h3 class="home__subtitle">What is</h3>
                                <h1 class="home__title">LANDSLIDE!! </h1>
                                <p class="home__description">Add here what is land slide 
                                </p>

                        
                            </div>
                        </div>
                    </section>

                    <!---->
                    <section class="swiper-slide">
                        <div class="home__content grid">
                            <div class="home__group">
                                <img src="https://66.media.tumblr.com/41a94a6c45a115bce3475880cc5be4fb/tumblr_inline_pdgvmhfpKr1tzhl5u_540.gif" alt="" class="home__img">
                                <div class="home__indicator"></div>

                                <div class="home__details-img">
                                    <h4 class="home__details-title">Visual Representation of</h4>
                                    <span class="home__details-subtitle">LANDSLIDE</span>
                                </div>
                            </div>

                            <div class="home__data">
                                <h3 class="home__subtitle">How it</h3>
                                <h1 class="home__title">HAPPEN</h1>
                                <p class="home__description">add about it.
                                </p>
                            </div>
                        </div>
                    </section>

                    <!------>
                    <section class="swiper-slide">
                        <div class="home__content grid">
                            <div class="home__grou">
                                <img src="https://static.vecteezy.com/system/resources/previews/033/647/423/non_2x/landslide-with-ai-generated-free-png.png" alt="" class="home__img">
                                <div class="home__indicator"></div>

                                <div class="home__details-img">
                                    <h4 class="home__details-title">Visual Representation of</h4>
                                    <span class="home__details-subtitle">LANDSLIDE</span>
                                </div>
                            </div>

                            <div class="home__data">
                                <h3 class="home__subtitle">Who to </h3>
                                <h1 class="home__title">CONTACT</h1>
                                <p class="home__description">Info numbers etc
                                </p>

                                <div class="home__buttons">
                                    <a href="#" class="button">Link of websites</a>
                                    <a href="#" class="button--link button--flex">more info given below <i class='bx bx-right-arrow-alt button__icon'></i></a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
        
        <!--========================================-->
        <section class="section category">
            <h2 class="section__title">Causes Of Landslide</h2>

            <div class="category__container container grid">
                <div class="category__data">
                    <img src="https://pngimg.com/uploads/soil/soil_PNG63.png" alt="" class="category__img">
                    <h3 class="category__title">Soil-Errosion</h3>
                    <p class="category__description">def of soil errosion.</p>
                    <div class="home__buttons">
                        <a href="/simulation.html" class="button">3D View</a>
                  
                    </div>
                </div>
               
                
            <div class="category__container container grid">
                <div class="category__data">
                    <img src="https://cdni.iconscout.com/illustration/premium/thumb/deforestation-6276264-5191830.png" alt="" class="category__img">
                    <h3 class="category__title">Deforestration</h3>
                    <p class="category__description">write about deforestration.</p>
                    <div class="home__buttons">
                        <a href="/simulation.html" class="button">3D View</a>
                  
                    </div>
                </div>
          

                <div class="category__data">
                    <img src="https://freepngimg.com/thumb/mountains/33788-2-mountains-photo.png" alt="" class="category__img">
                    <h3 class="category__title">Dryness</h3>
                    <p class="category__description">what is Dryness.</p>
                    <div class="home__buttons">
                        <a href="/simulation.html" class="button">3D View</a>
                  
                    </div>
                </div>
            </div>
        </section>

        <section class="section about" id="about">
            <div class="about__container container grid">
                <div class="about__data">
                    <h2 class="section__title about__title">Some Real Stories <br> W</h2>
                    <p class="about__description">malin ani keral story
                    </p>
                    <a href="#" class="button">Know more</a>
                </div>

                <img src="https://static.vecteezy.com/system/resources/previews/033/647/423/non_2x/landslide-with-ai-generated-free-png.png" alt="" class="about__img">
            </div>
        </section>


        <!--==================== ====================-->
        <section class="section new" id="new">
            <h2 class="section__title">Types Of Landslide</h2>
            <div class="new__container">
                <h1>Debries</h1>
                
            </div>
        </section>
        
    </main>

    <!--=============== SCROLL UP ===============-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class='bx bx-up-arrow-alt scrollup__icon'></i>
    </a>

    <!--=============== SWIPER JS ===============-->
    <script src="/js/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="/js/main.js"></script>

    <!--=============== THREE JS ===============-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>

    <!--=============== DEBRIS JS ===============-->
    <!-- <script src="/js/debris.js"></script> -->
</body>
</html>
